* {
    font-family: 'Courier New', 'Courier New', Courier, monospace
}

html, body {
    width:100%;
    height:100%;
    margin:auto;
}

header{
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(56, 7, 56);
    color: aquamarine;
}

ol {
    position: fixed;
    right: 1em;
    list-style-type: none;
    margin-top: 1.4em;
}

.nav {
    display: inline;
    align-items: center;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    height: 2em;
    background-color: rgb(56, 7, 56);
    color: aquamarine;
    font-size: x-large;
}

.page-container {
    position: relative;
    min-height: 100%;
}

.content-wrap {
    padding-bottom: 3em;
}

.title {
    margin-left: 25px;
}

.copywrite {
    padding-right: 25px;
    position: relative;
    top: .7em;
    margin: auto;
}

a:link {
    background-color: aquamarine;
    color: rgb(56, 7, 56);
    padding: .2em .4em;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
}

form {
    background-color: rgb(115, 255, 0);
    padding: 1em;
    border: .5em;
    border-style: inset;
    border-radius: 1em;
    border-color: aquamarine;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 400px;
    margin-bottom: 6em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    width: 300px;
    box-sizing: border-box;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    display: inline-block;
}

.image-heading {
    padding-top: 4em;
    font-weight: 900;
    text-align: center;
}

.caption {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 300px;
    font-weight: bolder;
}

p {
    display: absolute;
    text-align: center;
}